/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
.image-size {
    width: 50vw
}
.image-card{
    margin: auto;
    text-align: center;
    flex-direction: column;
    width: 50vw;
    padding: 30px;
}
.image-info{
    display: flex;
    justify-content: left;
    left: 0xp;
}
.image-description{
    text-align: left;
    text-indent: 3em;
    font-size: 1.2rem;
}
